body {
  background: #4c5156
}

.navbar {
  background: #4c5156;
  border: 2px solid #65e2eb;
  font-family: "Audiowide";
  margin: 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
}

nav li {
  margin: 0 50px;
}

nav a {
  text-decoration: none;
  color: #65e2eb
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

section {
  margin-left: 20px;
  font-family: "Audiowide";
}


body {
  font-family: "Audiowide";
}


.resized-stars {
  width: 280px;
  height: 100px;
}

.resized-review {
  width: 150px;
  height: 150px;
}

.resized-talking {
  width: 180px;
  height: 150px;
}

.resized-vip {
  width: 100px;
  height: 70px;
}

.resized-logo {
  width: 200px;
  height: 100px;
}

iframe {
  border: 2px solid #65e2eb;
}

#aboutpage {
  font-family: "Audiowide"
}