body {
  background: #4c5156
}

h3 {
  background: #533164
}

nav ul {
  display: flex;
  list-style: none;
  padding: 10px;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #adab79
}