body {
  background: rgb(42, 83, 46);
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(168, 168, 169);
}

section {
  margin: 5%;
  font-family: 'Kosugi Maru', sans-serif;
}

/* NAVIGATION BAR BEGINS HERE */
.navbar {
  font-family: 'Kosugi Maru', sans-serif;
  width: 95%;
  margin: 0 auto;
  padding: 2%;
  border-bottom: 1px solid rgb(168, 168, 169);
}

.resized-logo {
  height: auto;
  width: 16%;
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1% 0;
}

nav li {
  float: right;
}

nav a {
  display: block;
  text-align: center;
  color: rgb(168, 168, 169);
  text-decoration: none;
  padding: 1vh 3vw;
}

/* NAVIGATION BAR ENDS HERE */

/* COVER PAGE BEGINS HERE */
.cover {
  position: relative;
  text-align: center;
  height: 100vh;
}

.resized-astronaut {
  margin: 0;
  padding: 5vh 1vw;
  border: none;
  width: 29%;
  height: auto;
}

.cover-text1 {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20pt;
  color: rgb(168, 168, 169);
  position: absolute;
  top: 4.5vh;
  left: 3vw;
}

.cover-text2 {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20pt;
  color: rgb(168, 168, 169);
  position: absolute;
  bottom: 19vh;
  right: 7vw;
}

/* COVER PAGE ENDS HERE */

/* FEATURES BEGINS HERE */

#feature1 {
  background: brown;
  width: 43vw;
  height: 28vh;
  float: left;
  margin-right: 2vw;
  margin-bottom: 2vh;
}

.feature1help {
  float: left;
  padding: 0 2vw;
}

#feature2 {
  float: right;
  background: blue;
  width: 43vw;
  height: 28vh;
  margin-bottom: 2vh;
}

.feature2help {
  width: 25vw;
  float: right;
  margin-left: 1vw;
  padding: 5vh 1vw;
}

#feature2::after {
  content: "";
  display: table;
  clear: both;
}

#feature3 {
  display: block;
  padding: 1vh 2vw;
  text-align: center;
  background: black;
  max-width: 100%;

}

.resized-stars {
  width: 20vw;
  height: 9vh;
}

.resized-review {
  width: 10vw;
  height: auto;
  float: right;
  padding: 4vh 0;
}

.resized-talking {
  width: 13vw;
  height: 22vh;
}

/* FEATURES ENDS HERE */

/* ABOUT/PRICING TABLE BEGINS HERE */
.tab {
  display: flex;
  flex-direction: row;
}

/* ABOUT PAGE BEGINS HERE */
.column1 {
  width: 70%;
}

iframe {
  width: 100%;
  margin: 0;
  border: none;
}

#aboutpage {
  font-family: 'Kosugi Maru', sans-serif;
  height: 100%;
}

/* ABOUT PAGE ENDS HERE */

/* PRICING BEGINS HERE */
.column2 {
  width: 30%;
}

#prices {
  font-size: 8pt;
}

.resized-vip {
  width: 7vw;
  height: 10vh;
}

button {
  border: 2px solid #000;
  background-color: white;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 6pt;
}

/* PRICING ENDS HERE */

/* ABOUT/PRICING TABLE ENDS HERE */

/* SOCIALS BEGIN HERE */

.social-media {
  display: flex;
  justify-content: space-between;
}

.soc {
  width: 5vw;
  height: auto;
  margin-left: 5vw;
}